{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="producto_detalle">
        <img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ producto.nombre }}</h1>
        <h2>
            <a href="{{ producto.categoria.get_absolute_url }}">
                {{ producto.categoria }}
            </a>
        </h2>
        <p class="precio">${{ producto.precio }}</p>
        <!-- VERIFICAR SI HAY EN XISTENCIA -->
        {% if producto.existencias != 0 %}
            <form action="{% url "cart:cart_add" producto.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Agregar al carrito">
            </form>
            {{ producto.descripcion|linebreaks }}
        {% else %}
            <p class="error-message">Lo sentimos, no hay stock disponible para este producto.</p>
        {% endif %}
    </div>
{% endblock %}
