{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="producto_detalle">
        <img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ producto.nombre }}</h1>
        <h2>
            <a href="{{ producto.categoria.get_absolute_url }}">
                {{ producto.categoria }}
            </a>
        </h2>
        <p class="precio">${{ producto.precio }}</p>
        <form action="{% url "cart:cart_add" producto.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ producto.descripcion|linebreaks }}
    </div>
{% endblock %}