body {
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70px;
    font-style: normal;
}
a {
    text-decoration:none;
    color:#000000;
}

a:hover {
    color:#ff00d0;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#000000;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:center;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#000000;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:center;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

#subheader {
    /* COLOR DE FONDO*/
    background:#ececec;
    color:#343434;
    /* arriba y abajo | izquierda y derecha */
    padding: 15px 50px;
    /* si recortar contenido, dibujar barras de desplazamiento o mostrar el contenido excedente en un elemento a nivel de bloque. */
    /*overflow:hidden;*/
    /* CONTENEDOR FLEXIBLE*/
    display: flex;
    /* Distribuir items uniformemente - El primer item al inicio, el último al final */
    justify-content: space-between;
    /* Alinear los elementos verticalmente */
    align-items: center;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#010101;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.producto_lista .item {
    width:200px;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.producto_lista .item img {
    width:200px;
    margin-bottom:8px;
    height: 200px;
}

.producto_detalle {
    text-align:justify;
}

.producto_detalle .precio {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.producto_detalle img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.producto_detalle h1 {
    margin-bottom:0;
}

.producto_detalle h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #ff00d0;
}

.order-info h3 {
    color:#000000;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.imagenes-subheader{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.cart-num{
    color:#040404;
    font-size: 20px;
    vertical-align: middle;
    float: right; /* Coloca el elemento a la derecha */
    padding-top: 4px;
}

.nombre-logo{
    color: #040404;
    margin-right: 50px;
    margin-left: 20px;  
}

.form-control{
    border-radius: 5px;
    width: 300px;
    height: 10%;
}

.container-navegacion{
    display: flex;
    align-items: center;
    width: 400px;
    height: 10%;
}

.input-form {
    border-radius: 4px;
    width: 300px;
    height: 100%;
}
.label-form{
    padding-bottom: 20%;
}

.contenedor-form{
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.errores{
    color: red;
}

.div-inicio {
    background: #d0d0d0;
    width: 70%;
    max-height: 500px;
    padding: 40px;
    border-radius: 10px;
}

.div-principal {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*outline: solid 1px black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#id_quantity{
    margin: 20px;
}
.form-order label {
    clear: both;
    font-size: 14px;
    padding-bottom: 4px;
}

.form-order input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
    display: block; /* Hacer que los input ocupen toda la anchura disponible */
}

.form-order div {
    margin-bottom: 10px; /* Agregar espacio entre los elementos del formulario */
}

.form-order input[type="submit"] {
    width: auto; /* Restaurar el ancho predeterminado del botón de envío */
}

.accesos{
    padding: 20px;
}