{% extends "shop/base.html" %}

{% block title %}
    Orden
{% endblock %}

{% block content %}

    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Resumen del Pedido </h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} - {{ item.producto.nombre }}
                    <span>${{ item.total_precio }}</span>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_precio }}</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" name="efectivo" value="Pagar en efectivo"></p>
        <p><input type="submit" name="tarjeta" value="Pagar con tarjeta"></p>
        {% csrf_token %}
    </form>
    <!--<p class="text-right">
        <a href="{% url "shop:producto_lista" %}" class="button
        light">Continuar compra</a>
       
    </p>-->
{% endblock %}
