{% extends "shop/base.html" %}

{% block title %}
    Orden
{% endblock %}

{% block content %}

    <h1>Checkout</h1>
    <div class="order-info">
        <h3>Tu orden</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }} - {{ item.producto.nombre }}
                    <span>${{ item.total_precio }}</span>
            </li>
            {% endfor %}
        </ul>
        <p>Total: ${{ cart.get_total_precio }}</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Realizar Orden"></p>
        {% csrf_token %}
    </form>
{% endblock %}