{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BreakFast{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!--Favicon (logito de la pestaña) -->
    <link rel="icon" href="{% static "images/refresco-de-hamburguesa.png" %}">
     <!-- TIPOGRAFÍA DE LETRA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <div id="header">
    </div>

    <!-- Panel de navegación -->  
    <div id="subheader">
        <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="cart">
            
            <!--nombre de la empresa-->
            <a href="/" class="nombre-logo">BreakFast</a>
            {% with total_items=cart|length %}
                {% if total_items > 0 %} 
                    <a href="{% url "cart:cart_detalle" %}">
                        <img class="logo-carrito" src="{% static "images/carrito.png" %}" alt="logo"> 
                        <!-- Total de productos en el carrito-->
                        <span class="cart-num">{{ total_items }}</span>
                        </a>
                {% elif not order %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>