{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BreakFast{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <!--Favicon (logito de la pestaña) -->
    <link rel="icon" href="{% static "images/refresco-de-hamburguesa.png" %}">
     <!-- TIPOGRAFÍA DE LETRA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!--CABECERAAAA-->
        <div id="subheader">
            <!--LOGO DE LA EMPRESA-->
            <div class="cart">
                <a href="/" class="nombre-logo">Breakfast</a>
            </div>
            <!-- Panel de navegación -->  
            <div class="container-navegacion">
                <!-- FORMULARIO DE BÚSQUEDAD DE PRODUCTOS -->
                <form  action="{% url 'shop:buscar_productos' %}" method="GET" class="d-flex">
                    <input class="form-control" type="search" placeholder="Buscar productos..." aria-label="Search" name="q">
                    <button>
                        <img class="imagenes-subheader" src="{% static "images/archivo-de-busqueda.png" %}" alt="logo"> 
                    </button>
                        
                    
                </form>
            </div>
            
            <!--MOSTRAR SI EL USUARIO HA INICIADO SESIÓN-->
            <div class="inicio">
                <!--VERIFICAR SI EL USUARIO YA ESTA INICIO SESIÓN-->
               {% if user.is_authenticated %}
                        <img class="imagenes-subheader" src="{% static "images/usuario.png" %}" alt="usuario">
                        {{ user.username }} <a class="accesos" href="{% url "users:cerrar_sesion" %}">Cerrar Sesión</a>
                <!--EL USUARIO NO HA INGRESADO-->
               {% else %}
                    <!--INICIAR SESIÓN-->
                    <a  class="accesos" href="{% url "users:iniciar_sesion" %}">
                        Iniciar Sesión
                    </a>
                    <!--REGISTRARSE SI EL USUARIO NO TIENEN UNA CUENTA-->
                    <a class="accesos" href="{% url "users:Usuarios" %}">
                        Registrate
                   </a>
               {% endif %}
            </div>
            <!--CONTROL DE PRODUCTOS AGREGADOS AL CARRITO-->
            <div>
                {% with total_items=cart|length %}
                    {% if total_items > 0 %} 
                        <a href="{% url "cart:cart_detalle" %}">
                            <img class="imagenes-subheader" src="{% static "images/carrito.png" %}" alt="logo"> 
                            <!-- Total de productos en el carrito-->
                            <span class="cart-num">{{ total_items }}</span>
                            </a>
                    {% elif not order %}
                        <a href="{% url "cart:cart_detalle" %}">
                            <img class="imagenes-subheader" src="{% static "images/carrito.png" %}" alt="logo"> 
                            <!-- Total de productos en el carrito-->
                            <span class="cart-num">{{ total_items }}</span>
                        </a>
                    {% endif %}
                {% endwith %}
            </div>
                
        </div>
    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>